# IDE
.idea
.fleet
.nova
.vscode
.zed

# OS
.DS_Store
Thumbs.db

# External libraries
/vendor/
/node_modules/

# User files
/.config.php

# Runtime
/temp/
/html/
/src/public/build/

# Docker
/docker-compose.override.yml
/compose.override.yml
/compose.override.yaml

# Build
#/src/public/build
