name: Build and Release PHAR

on:
    release:
        types: [published]

jobs:
    build-and-upload:
        runs-on: ubuntu-latest
        permissions:
            contents: write

        steps:
            - name: Checkout code
              uses: actions/checkout@v4
              with:
                  token: ${{ secrets.GH_PAT }} # Uses your admin-level token to bypass protection
                  fetch-depth: 0 # Fetch all history so we can push back to the branch

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: '8.2'
                  extensions: mbstring, phar, iconv
                  tools: composer

            - name: Install Dependencies
              run: composer install --no-dev --optimize-autoloader --no-interaction

            - name: Inject Version and Build
              run: |
                  VERSION=${{ github.event.release.tag_name }}

                  # 1. Update the version in the source code
                  sed -i "s/%%VERSION%%/$VERSION/g" src/bootstrap.php

                  # 2. Build the PHAR
                  php -d phar.readonly=0 build-phar.php

            - name: Upload PHAR to Release
              uses: softprops/action-gh-release@v2
              with:
                  files: phpmemcachedadmin.phar
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
